<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <title> 欢迎使用我这个web应用，{{ user_info.name_user }}。</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    <!-- 最新的 Bootstrap5 核心 JavaScript 文件。bootstrap.bundle.js （未压缩版）或 bootstrap.bundle.min.js（压缩版） 包含了捆绑的插件如 popper.min.js 及其他依赖脚本 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    
    <!-- 引入作者的 CSS 文件-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <!-- 引入图标文件 -->
    <link rel="icon" href="{{ url_for('static', filename='myicon.ico') }}">
    {% endblock %}
</head>

<body>
    <!-- 插入到页面标题上方 -->
    <nav class="navbar navbar-expand-sm bg-success navbar-dark">
        <ul class="navbar-nav">
            <h1 class="display-6">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index') }}">首页</a>
                </li>
                {% if current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('settings') }}">更改您的信息</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('logout') }}">登出</a><!-- class="nav-link disabled" 这个标签无法被点击-->
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">用户登录</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">注册</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">管理员登录(建设中)</a>
                </li>
                <li class="nav-item">
                    {% endif %}
            </h1>
        </ul>
    </nav>
    <div class="mt-4 p-5 bg-secondary text-white rounded">
        <h1>根据 第一、二代棉铃虫数量 计算 产量损失率 的 web “小”程序</h1>
    </div>
    <hr>
    <h2 align="center">
        <img alt="cotton" src="{{ url_for('static', filename='images/cotton.jpg') }}" height="40px">
        <abbr title="这是您注册的或上一位登录用户的“称呼”">{{ user_info.name_user }}</abbr> 您好
    </h2>
    <!-- 插入到页面标题上方 -->
    {% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
    <hr>
    <footer class="blockquote-footer" align="left">
        参考: <br>
        姚举,李号宾,王伟,等. 喀什棉区第一、二代棉铃虫对棉花的复合危害和防治指标研究[J].新疆农业科学,2008,45(1):105-108.<br>
        <a href="https://helloflask.com/tutorial/">Flask 入门教程 使用 Python 和 Flask 开发你的第一个 Web 程序</a><br>
        <a href="https://www.runoob.com/bootstrap5/bootstrap5-tutorial.html">Bootstrap5 教程 | 菜鸟教程</a><br>
        <a href="https://www.csdn.net">CSDN - 专业开发者社区</a><br>
            <a href="https://stackoverflow.com">Stack Overflow - Where Developers Learn, Share, &amp; Build Careers</a><br>
        &copy;<a href="https://github.com/Rhylan2333">欢迎来我的 Github 逛逛</a><br>
    </footer>
</body>

</html>