{% extends 'base.html' %}

{% block content %}
<div class="container p-3 my-2 border">
    <h2>
        <mark>
            {% if current_user.is_authenticated %}
            按提示输入即可求算、提交：
            {% else %}
            您未登录，请先👆登录👆或👆注册👆。
            {% endif %}
        </mark>
    </h2>
    <div align="center">
        <!-- 在模板中可以直接使用 current_user 变量。以创建新条目表单为例，我们在表单外部添加一个 if 判断：
            在模板渲染时，会先判断当前用户的登录状态（current_user.is_authenticated）。
                如果用户没有登录（current_user.is_authenticated 返回 False），
                就不会渲染如下代码块，即表单 <form method="POST" name="form">...</form> 部分的 HTML 代码 -->
        {% if current_user.is_authenticated %}
        <form method="POST" name="form">
            <!-- 指定提交方法为 POST -->
            第一代棉铃虫数量(头/百株)
            <input type="text" name="x1" placeholder="输入 X1（数值）" autocomplete="off" required><!-- 文本输入框 -->
            <br>
            第二代棉铃虫数量(头/百株)
            <input type="text" name="x2" placeholder="输入 X2（数值）" autocomplete="off" required><!-- 文本输入框 -->
            <br>
            <input type="submit" name="submit" value="👉计算并提交👈" class="btn" /><br><!-- 提交按钮 -->
            产量损失率(%)
            <input type="text" name="result" placeholder="得出 Y（数值）" readonly="readonly" value="{{ RESULT }}" />
            <br>

        </form>
        {% endif %}{# 模板内容保护 #}

    </div>
    <!-- 在这逐行输出 棉铃虫信息(ha_info) 的记录 -->
    <div align="right">
        {# 使用 length 过滤器获取 list_ha、list_ha_limit 变量的长度 #}
        {# {{ 变量|过滤器 }} #}
        <!--有花括号不能用这种注释-->
        已有 {{ list_ha | length }} 条记录，显示 {{ list_ha_limit | length }} 条。
    </div>
    <div class="container mt-3">
        <div class="table-responsive-lg">
            <table class="table table-striped table-hover ">
                <thead class="table-bordered table-success">
                    <tr>
                        <th>编号</th>
                        <th>X1</th>
                        <th>X2</th>
                        <th>Y</th>
                        <th>地区</th>
                        <th>日期</th>
                        <th>操作按钮</th>
                    </tr>
                <tbody>
                    {% for row_ha in list_ha %} {# 迭代 list_ha 变量 #}
                    <tr>
                        <td>
                            {{ row_ha.id_ha | int }}
                        </td>
                        <td>
                            <code>{{ row_ha.x1 | round(1, 'floor') }}</code>&emsp;
                        </td>
                        <td>
                            <code>{{ row_ha.x2 | round(1, 'floor') }}</code>&emsp;
                        </td>
                        <td>
                            <code>{{ row_ha.y | round(2, 'floor') }}</code>&emsp;
                        </td>
                        <td>
                            <code>{{ row_ha.id_area }}</code>&emsp;
                        </td>
                        <td>
                            <code>{{ row_ha.date }}{# 等同于 row_ha['x1'] #}</code>&emsp;
                        </td>
                        <td class="table-info">
                            <!-- <span class="float-right"> -->
                            {% if current_user.is_authenticated %}
                            <a class="btn" href="{{ url_for('edit', id_ha=row_ha.id_ha) }}">编辑</a>
                            <form class="inline-form" method="post"
                                action="{{ url_for('delete', id_ha=row_ha.id_ha) }}">
                                <input class="btn" type="submit" name="delete" value="删除"
                                    onclick="return confirm('您确定删除吗？')">
                            </form>
                            {% endif %}{# 模板内容保护 #}
                            <!-- </span> -->
                        </td>
                    </tr>
                </tbody>
                {% endfor %} {# 使用 endfor 标签结束 for 语句 #}
            </table>
        </div>
    </div>

    <hr>
    <h2>
        <mark>第一、二代棉铃虫复合为害 与 产量损失 的 回归模型：</mark><br>
    </h2>
    <code>Y = 13.40232 + 4.65075 * X1 + 4.999563 * X2 + 0.624735 * X1**2 + 3.876875 * X2**2 - 1.93 * X1 *
        X2</code><br>
    <p>

        <code>Y</code>：产量损失率(%)。<br>
        <code>X1</code>：一代棉铃虫数量的水平，50 头/100株 规定为“1”。<br>
        <code>X2</code>：二代棉铃虫数量的水平，300 头/100株 规定为“1”。<br>
    </p>
    <hr>
    <h2>
        <mark>（建设中……）防治指标公式：</mark><br>
        <code>Y = E × C ×100%／(H×P×F×R)</code>
    </h2>
    <p>
        Y：允许产量损失率(%)。<br>
        <input type="text" name="Y" placeholder="根据上述公式求得 Y" />
        <input type="submit" name="submit_Y" value="展示/求算 Y" /><br>
        E：生态学系数，根据该地区目前生产水平、经济水平和农民接受能力，将 E 定为 2 为宜，即允许棉铃虫造成的损失不超过防治费用的 2 倍。<br>
        <input type="text" name="E" placeholder="自定义 E （默认 E=2）" />
        <input type="submit" name="submit_E" value="提交" /><br>
        C：防治一次各种费用之和（农机费 5.00元/亩，农药费 4.50元/亩，合计为9.50元／亩）。<br>
        <input type="text" name="C" placeholder="自定义 C（默认 C=9.50）" />
        <input type="submit" name="submit_C" value="提交" /><br>
        H：大田平均产量量（2003~2005年喀什棉区平均为 90 kg/亩）。<br>
        <input type="text" name="H" placeholder="自定义 H（默认 H=90）" />
        <input type="submit" name="submit_H" value="提交" /><br>
        P：农产品单价（2003~2005年，皮棉平均价为 9.80 元/kg）。<br>
        <input type="text" name="P" placeholder="自定义 P（默认 P=9.80）" />
        <input type="submit" name="submit_P" value="提交" /><br>
        F：害虫为害造成的最大损失率（据估计棉铃虫第一、二代分别为20％、50％）。<br>
        <input type="text" name="F" placeholder="自定义 F（默认 F=0.7）" />
        <input type="submit" name="submit_F" value="提交" /><br>
        R：防治一次的防治效果（一般为80％）。<br>
        <input type="text" name="R" placeholder="自定义 R（默认 R=0.8）" />
        <input type="submit" name="submit_R" value="提交" /><br>
    </p>

</div>
{% endblock %}